body {
    margin: 0;
    font-family: 'Exo', sans-serif;
    display: flex;
    background-color: #f2f2f2;
}

.sidebar {
    width: 20%;
    background-color: #d6f3d8;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    border-right: 2px solid #ccc;
    overflow-y: auto;
    transition: left 0.3s;
}

.user-info {
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.dashboard {
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.dashboard p {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
}

.dashboard ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.dashboard li {
    cursor: pointer;
    margin-bottom: 10px;
}

.sub-menu {
    display: none;
    padding-left: 15px;
    margin-left: 20px;
}

.dashboard li:hover .sub-menu {
    display: block;
}

.dashboard li:hover {
    background-color: #c0ebd7;
    padding: 5px;
}

/* CSS grids */

.content {
    margin-left: 20%;
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

@media (min-width: 600px) {
    .sidebar {
        left: 0; /* Exibir a barra lateral em telas maiores */
    }
    
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-item:nth-child(7) {
    grid-column: span 2;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100%;
    box-sizing: border-box;
}

.grid-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 14px;
    color: #555;
}