body {
    font-family: Raleway, sans-serif;
    background-color: #f2f2f2;
}

.formulario h2 {
    font-family: Exo, sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.formulario p {
    margin-bottom: 25px;
}

.formulario {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.formulario form {
    color: #303030;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 50px;
    box-shadow:  0 0 2px #585858;
    width: 20% ;
    text-align: center;
}

.conteudo input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #333333;
    border-radius: 10px;
    padding: 10px 15px;
    border: 2px solid #5596ad;
    font-size: 16px;
}

.conteudo input[type="submit"] {
    background-color: #5596ad;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1.2s ease;
}

.conteudo input[type="submit"]:hover {
    background-color: #45a049;
}

.conteudo a {
    text-decoration: none; /* Remove sublinhado padrão dos links */
    color: #2b2b2b; /* Cor do texto do link */
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 15px; /* Tamanho da fonte */
    text-align: center;
}

.conteudo a:hover {
    color: #d15d5d; /* Cor do texto do link ao passar o mouse */
}