body {
    font-family: Raleway, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    /* Estilo do formulário  */
form {
    background-color: #5596ad;
    padding: 50px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;

}

    /* Campos de texto  */
label {
    display: block;
    margin-bottom: 9px;
}

    /* Botão submit  */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}