body {
    font-family: Raleway, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: justify;
    margin-bottom: 550px;
}

form { /* Estilo do formulário  */
    background-color: #5596ad;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 800%;
}

.titulo-form { /* Título do formulário  */
    font-size: 29px; /* Tamanho da fonte */
    color: #f2f2f2; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    text-align: center;
}

    
label { /* Texto dos campos de texto  */
    display: block;
    margin-bottom: 11px; /* espaçamento após a caixa de texto */
}

.texto-label { /* Edição dos textos dos campos de texto  */
    color: #504f4f; /* Cor do texto */
    font-size: 16px; /* tamanho do texto */
}

    
input { /* Campos de texto do formulário  */
    width: 100%; /* Tamanho da caixa de texto */
    padding: 10px; /* Espaçamento após  */
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #cccccc;
    border-radius: 13px; /* arredondamento da borda */
}
    
input[type="submit"]:hover { /* Botão de submissão  */
    background-color: #cccccc; /* Cor de fundo */
    color: #4b4a4a; /* Cor do texto */
    border: 0; /* Remove a borda */

    padding: 11px 25px; /* Preenchimento interno */
    border-radius: 13px; /* Borda arredondada */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    font-size: 15px; /* Tamanho da fonte */
    transition: background-color 0.5s ease; /* Efeito de transição de cor de fundo */

    /* Outros estilos personalizados, como margens, podem ser adicionados aqui */
}

a { 
    text-decoration: none; /* Remove sublinhado padrão dos links */
    color: #f2f2f2; /* Cor do texto do link */
    display: block;
    font-weight: bold; /* Deixa o texto em negrito */
    margin-right: 20px; /* Adiciona margem à direita para espaçamento */
    margin-top: 9px;
    font-size: 16px; /* Tamanho da fonte */
    text-align: center;
}

/* Estilos para hover (quando o mouse passa sobre o link) */
a:hover {
    color: #2e2e2e; /* Cor do texto do link ao passar o mouse */
}