/* ------------Início Login----------- */
form {
    padding: 25px;
    width: 100%;
    max-width: 500px;
}

.titulo-form { /* Título do formulário  */
    font-size: 29px; /* Tamanho da fonte */
    color: #54af54d8; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    margin-top: 100px;
    text-align: center;
}
    
label { /* Texto dos campos de texto  */
    display: block;
    margin-bottom: 11px; /* espaçamento após a caixa de texto */
}

.texto-label { /* Edição dos textos dos campos de texto  */
    color: #2b2b2b; /* Cor do texto */
    font-size: 16px; /* tamanho do texto */
}
   
input { /* Campos de texto do formulário  */
    width: 100%; /* Tamanho da caixa de texto */
    padding: 10px; /* Espaçamento após  */
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #54af54d8;
    border-radius: 13px; /* arredondamento da borda */
}

.botao-entrar { /* Submit "entrar"  */
    background-color: #54af54d8;
    border: none;
    color: #f2f2f2; /* Cor do texto */
    border: 0; /* Remove a borda */
    padding: 11px 25px; /* Preenchimento interno */
    border-radius: 13px; /* Borda arredondada */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    font-size: 15px; /* Tamanho da fonte */
    transition: background-color 0.2s ease;
}
    
input[type="submit"]:hover { /* Botão de submissão  */
    background-color: #e79bfa; /* Cor de fundo */
}

form a { /* Links "esqueci minha senha" e "cadastre-se" */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    color: #2b2b2b; /* Cor do texto do link */
    display: block;
    margin-top: 9px;
    font-size: 15px; /* Tamanho da fonte */
    text-align: center;
}

a:hover { /* Estilos para hover (quando o mouse passa sobre o link) */
    color: #e79bfa; /* Cor do texto do link ao passar o mouse */
}
/* ------------Fim Login----------- */